.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  height: 100vh;
  font-family: "VT323", monospace;
  background: url(../public/images/backgroundImage.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: rgb(233, 223, 202);
  font-size: 6vh;
  margin: 0;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  letter-spacing: 3px;
}
.App-header {
  opacity: 1;
  height: 15vh;
  text-align: center;
  display: flex;
  justify-content: center;
}

header {
  margin: 2vh;
  background: url(../public/images/wood2.jpg);
  height: 6vh;
  padding: 10px 25px;

  border: 10px solid;
  border-image: url(../public/images/stone.jpg) 80;
  text-shadow: 5px 5px 2px black;
}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
}
.Messages-list {
  height: 55vh;
  padding: 20px 0;
  max-width: 800px;
  width: 100%;
  margin-left: 13%;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 50px;
  width: 50px;
  margin: 22px 35px 0 0;
}
.avatar img {
  height: 60px;
  width: 60px;
  margin-left: 10px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 5px 5px inset rgba(0, 0, 0, 0.6);
}
.currentMember > .avatar img {
  border: 3px solid rgb(112, 248, 176);
  box-shadow: 5px 5px inset rgba(0, 0, 0, 0.6);
}

.Message-content > .username {
  display: block;
  color: wheat;
  font-size: 23px;
  padding-bottom: 4px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 12px;
  background-color: white;
  color: rgb(34, 34, 34);

  display: inline-block;
  font-size: 25px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
}

.currentMember > .Message-content .text {
  background-color: rgb(106, 255, 133);
  border: 2px solid rgb(58, 58, 58);
  color: rgb(34, 34, 34);
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  margin-top: 3vh;
  padding: 15px;
  font-size: 23px;
  border-radius: 8px;
  background-color: rgb(88, 88, 89);
  border-bottom: 8px solid rgb(58, 58, 58);
  color: wheat;
  flex-grow: 1;
  font-family: "VT323", monospace;
}

form button {
  cursor: pointer;
  margin-top: 3vh;
  width: 9vh;
  height: 9vh;
  background: url(../public/images/pen.png) transparent;
  background-position: center;
  background-size: contain;
  color: wheat;
  border: 3px solid rgb(58, 58, 58);
  border-bottom: 8px solid rgb(58, 58, 58);
  margin-left: 10px;
  border-radius: 10px;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(0.9);
  opacity: 0.8;
}

.Messages-list {
  background: url(../public/images/wood.jpg);
  border: 20px solid;
  border-image: url(../public/images/border.png) 60;
  background-attachment: local;
  box-shadow: 0px 40px 15px inset rgba(0, 0, 0, 0.6),
    0px -6px 3px inset rgb(48, 27, 3);
}
/*Members component */
.memberList {
  width: 20vh;
  height: 30vh;
  background: url(../public/images/wood2.jpg);
  background-size: contain;
  background-attachment: local;
  margin-left: 2%;
  margin-top: 1%;
  padding: 5px 10px;
  border: 10px solid;
  border-image: url(../public/images/stone.jpg) 50;
}
.memberList ul {
  padding: 0;
  margin: 5px 15px;
  font-size: 20px;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  letter-spacing: 1px;
}

.memberList li {
  padding-left: 1vh;
  font-size: 2.5vh;
}

#welcomeMessage {
  text-align: center;
  font-size: 22px;
  color: wheat;
  margin-top: 1%;
}
h4 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  letter-spacing: 2px;
  font-size: 22px;
}
/* width */
::-webkit-scrollbar {
  width: 18px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(127, 127, 127);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: url(../public/images/chain.png);

  background-size: cover;
}

@media (max-width: 769px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .memberList {
    width: 50%;
    overflow: auto;
    height: 15vh;
  }
  .Messages-list {
    width: 90%;
    margin: 0;
    margin-top: 20px;
  }
  .Message-content > .username {
    font-size: 16px;
  }
  .Message-content > .text {
    font-size: 20px;
  }
  .currentMember > .avatar img {
    width: 80%;
    height: 80%;
  }

  form button {
    display: none;
  }
}
